.carousel-control-prev-icon {
     background-image: url(../images/previous-32.png);
     width: 32px;
     height: 32px;
}
 .carousel-control-next-icon {
     background-image: url(../images/next-32.png);
     width: 32px;
     height: 32px;
}
.carousel-item img
{
    width: auto;
    height: 450px;
    margin-top: 20px;
}

.para
{
    justify-content: center;
    width: 300px;
    text-align: center;
    
}

.titre
{
    justify-content:center;
    height: 100px;
    text-align: center;
}


.recherche_p{
	background-color: #eeeeee;
	border: 1px solid #dddddd;
	padding: 10px 10px 10px 10px;
}
.recherche-barr{
	margin-bottom: auto;
	margin-top: auto;
	background-color: #7c828e;
}
.recherche-input{
	border: 0;
	width: 0;
	line-height: 37px;
}
.recherche-barr:hover > .recherche-input{
	padding: 0 10px;
	width: 450px;
	transition: width 0.4s linear;
}
.recherche-icone:hover{
	color: white;
}
.recherche-icone{
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
}