

body{

	
	 /* The image used */
	 background-image: url("../images/cinema.jpg");

	 /* Set a specific height */
	 min-height: 500px; 
   
	 /* Create the parallax scrolling effect */
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;

   
}
.navbar-brand{
    position: relative;
    right:67%;
}

span{
   display: none;
}
button{
    margin-right: 10px;
}
#slogan{
display: none;
}
.logo{
    position: relative;
    right:4%;
	width: 27%;
    height: auto;
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    box-shadow:  0px 0px 0px 0px #000;
	background-color: rgb(73, 73, 73);
	opacity: 0.9;
	border-radius: 20px;
	border: 1px solid skyblue;
	color: white;
}
legend{

     width:auto;
    
}

.carousel-item img {
	width: auto;
	height: 450px;
	margin-top: 20px;
}

.para {
	display: flex;
	justify-content: center;
	width: 300px;
	text-align: center;
	margin-right: 2%;
	background-color: rgb(73, 73, 73);
	opacity: 0.9;
	border-radius: 20px;
	border: 1px solid skyblue;
}

.para p {
	
	color: white;

}

.titre {
	justify-content: center;
	text-align: center;
	color:white;
}

.recherche_p {
	background-color: #eeeeee;
	border: 1px solid #dddddd;
	padding: 10px 10px 10px 10px;
}

.recherche-barr {
	margin-bottom: auto;
	margin-top: auto;
	background-color: #7c828e;
}

.recherche-input {
	border: 0;
	width: 0;
	line-height: 37px;
}

.recherche-barr:hover>.recherche-input {
	padding: 0 10px;
	width: 450px;
	transition: width 0.4s linear;
}

.recherche-icone:hover {
	color: white;
}

.recherche-icone {
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
}

.resume {
	height: auto;
}

.carousel-caption {
	background-color: rgb(73, 73, 73);
	opacity: 0.9;
	border-radius: 20px;
	border: 1px solid skyblue;
	box-shadow: 2px 2px black;
}

.clap img {
	display: none;
}

.clap2 {
	display: none;
}
@media only screen and (min-width:375px) and (max-width:424px) {
	.para{
		position: relative;
		left: 7%;
		height: 200px;
	}
	.logo {
        width: 27%;
        height: auto;
		position: relative;
		right: 12%;
    }
    
}

@media only screen and (min-width:425px) and (max-width:767px) {
	.para{
		position: relative;
		left: 10%;
		height: 200px;
	}
	.logo {
        width: 27%;
        height: auto;
		position: relative;
		right: 21%;
    }
    
}

@media only screen and (min-width:768px) and (max-width:990px) {
    .logo{
		position: relative;
		right:33%;
	}
	.para{
		position: relative;
		left: 28%;
		height: 200px;
	}
}
@media only screen and (width:1024px) {

    .logo {
        width: 24%;
        height: auto;
		position: relative;
		right: 40%;
    }
	.para{
		position: relative;
		left: 33%;
		height: 200px;
	}
	#slogan{
		display:flex;
		position: relative;
		right: 34%;
		
	}
}
 @media only screen and (min-width:991px) and (max-width:1199px){
	#slogan{
		display:flex;
		position: relative;
		right: 23%;
		font-size: 3vw;
	}
	
}
@media only screen and  (min-width:1200px){

	.clap img{
		display: flex;
	}
	.clap2{
		float: right;
		position: relative;
		bottom: 413px;
	}
	.para{
		position: relative;
		bottom: 191px;
		left: 36%;
		height: 200px;
	}
	.logo{
		position: relative;
		right:56%;
		width: 10%;
        height:auto;
	}
    #slogan{
		display:flex;
		position: relative;
		right: 28%;
		font-size: 3vw;
	}
}